/* Page Styles*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614441318_62-p-temnii-fon-dlya-chata-77.jpg")
    repeat;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 768px;
  background-color: #303641;
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(90deg, #192129, #303641, #484e57);
  background-size: 8px 8px, 100%;
  margin: 0 auto;
}

/*Contrukt elements*/

/* sticker*/

.sticker {
  background-image: linear-gradient(
    to right,
    rgb(255, 239, 186),
    rgb(255, 255, 255)
  );
  width: 104%;
  height: 30px;
  position: relative;
  margin-left: -7px;
}

.sticker h2 {
  color: red;
  font-size: 25px;
  padding-left: 20px;
}
.sticker::after {
  content: " ";

  position: absolute;

  left: 0px;
  top: 30px;
  border: 15px solid transparent;
  border-top: 20px solid rgba(255, 0, 0, 0.623);
  border-right: 0px solid rgba(255, 0, 0, 0.623);
}

/* Header Styles */

.header_row {
  display: flex;
}
.header_profile {
  background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
  flex: 0 0 320px;
}
.profile_img {
  text-align: center;
  box-shadow: inset 10px 0 3px rgba(255, 0, 0, 0.212);
}
.header_profile_name,
blockquote {
  margin-top: -7px;
  color: #e6e6fa;
  font-weight: 600;
  padding: 15px;
  background-color: rgba(207, 38, 38, 0.7);
}

.header_profile_name p {
  font-size: 18px;
  text-align: center;
}

.header_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_title {
  display: flex;
  justify-content: space-around;
}
h1 {
  flex: 0 0 30%;
  text-decoration: underline;
  font-size: 40px;
  color: white;
  text-align: center;
  margin-left: 5%;
}
.header_nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav_menu {
  width: 40%;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font: bold 22px "times new roman";
  color: black;
  background-image: linear-gradient(
    to right,
    rgb(255, 239, 186),
    rgb(255, 255, 255)
  );
  padding: 10px 0;
}
.drop_down {
  width: 60%;
  margin-top: -2px;
  list-style-type: none;
  border: 4px solid #800000;
  opacity: 0;
  position: relative;
}

.drop_down:hover,
.nav_menu:hover + .drop_down {
  opacity: 1;
}
.header_nav li {
  background-image: linear-gradient(
    to right,
    rgb(255, 239, 186),
    rgb(255, 255, 255)
  );
  line-height: 32px;
  margin: 5px;
  padding: 0 3px;
  border-radius: 5px;
  font-size: 16px;
}
.header_nav a {
  text-decoration: none;
  color: black;
}

/* Main styles*/

.main_header {
  display: flex;
}

.left_board {
  background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
  flex: 0 0 320px;
}
.right_board {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_header .left_board {
  padding: 10px;
  flex: 0 0 33.3%;
}
.styling_border {
  margin-bottom: 50px;
  border: 7px solid red;
  border-top: none;
  border-radius: 10px;
  width: 300px;
}
.styling_border p,
.styling_border li {
  text-align: justify;
  margin: 0 5px;
  padding: 5px;
  font-size: 16px;
}

.styling_border h2 {
  text-align: center;
  color: red;
  position: relative;
  top: -7px;
}
.styling_border h2::after,
.styling_border h2::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: red;
  height: 7px;
  width: 50px;
  top: 7px;
}
.styling_border h2::after {
  border-top-right-radius: 7px;
  right: -5px;
}
.styling_border h2::before {
  left: -6px;
  border-top-left-radius: 7px;
}
.main_language {
  margin: 10px 0;
}
.main_language ul {
  list-style-image: url("img/icons/Device-CDR-icon24.png");
}
.main_language > ul {
  margin: 10px;
  padding: 5px 50px;
}

.main_language > ul ul {
  padding: 5px 10px;
}

.main_header .right_board {
  flex: 1 1 auto;
}
.skills {
  margin: 10px 0;
}
.experience {
  margin: 10px 0;
}
.experience ul {
  padding-left: 55px;
  list-style-image: url("img/icons/check-mark32.png");
}

.skills_graphs li {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  padding-left: 10px;
}

.skills_level li {
  display: inline-block;
  padding-left: 10px;

  width: 50px;

  text-align: center;
}
.example_code {
}
.example_code p {
  padding: 15px 20px;
}
.code_border {
  padding: 15px 20px;
}

.red_code {
  color: red;
}
.violet_code {
  color: rgb(145, 16, 145);
}
.blue_code {
  color: blue;
}
.main_footer {
  background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
}
.main_footer_container {
  max-width: 400px;
  margin: 0px auto;
  border: 3px solid yellow;
}

.title {
  border: 1px solid blue;
  background: green;
}

.header_contacts {
  color: black;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header_contacts div {
  font-size: 20px;
  align-self: flex-start;
}
.header_contacts ul {
  list-style-type: none;
  width: 100%;
}
.header_contacts li {
  font-size: 18px;
  padding-left: 10px;
}

/*FOOTER STYLES*/

.footer_row {
  display: flex;
  align-items: center;
  background-color: rgb(255, 218, 185);
}

.footer_links,
.footer_author,
.footer_logo {
  flex: 0 1 33.3%;
  padding: 20px 0;

  text-align: center;
}
.footer_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
